<div class="container section" id="dakhuur-page">
    <div class="row justify-content-center intro">
        <div class="col-12 col-md-8">
            <h3>Geld verdienen met uw dak?</h3>
            <p>Ja, u leest het goed. Wij huren uw dak, plaatsen er zonnepanelen op, en u ontvangt maandelijks geld. Zonder dat u er verder iets voor hoeft te doen.</p>
        </div>
    </div>

    <hr/>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h3>Dakhuur</h3>
            <p>Verdien extra geld door de maandelijkse dakhuur, u kunt gebruik maken van zelf geproduceerde groene stroom, u verbetert uw energielabel, en u levert een bijdrage aan een beter milieu!</p>
        </div>
        <div class="col-12 col-md-6">
            <h3>SDE+(+) subsidie</h3>
            <p>De gehele aanvraag van de Subsidie Duurzame Energie wordt voor u uit handen genomen. Bedrijven en instellingen die duurzame energie opwekken komen hiervoor in aanmerking. Wij zorgen ervoor dat de transportcapaciteit gecheckt wordt, zodat we weten of u bedrijf hiervoor in aanmerking komt.</p>
        </div>
    </div>

    <hr/>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h3>Dakoptimalisatie</h3>
            <p>Om zonnepanelen te kunnen plaatsen moet uw dak aan bepaalde voorwaarden voldoen. Er worden bijvoorbeeld geen zonnepanelen op asbestdaken geplaatst. Komt er bij de door ons geregelde dakstudie iets naar voren wat opgelost moet worden? In overleg wordt de dakhuur aangepast en de problemen verholpen, zonder dat u hoeft te investeren!</p>
        </div>
        <div class="col-12 col-md-6">
            <h3>Service en onderhoud</h3>
            <p>Er wordt door onze partners slechts gebruik gemaakt van A-merk apparatuur, die constant in perfecte staat wordt gehouden. Naast een preventieve jaarlijkse controle zijn onze partners 24 uur per dag bereikbaar bij noodgevallen. Zo profiteren beide partijen optimaal!</p>
        </div>
    </div>
</div>

<GetAQuote/>