<div class="container section" id="led-verlichting-page">
    <div class="row justify-content-center intro">
        <div class="col-12 col-md-8">
            <img src="/img/illustrations/led-verlichting.svg" alt="Led-verlichting"/>
            <h3>Led-verlichting</h3>
            <p>Het plaatsen van led-verlichting is een gemakkelijke en snelle manier om met een kleine investering snel te besparen. De energiebesparing kan oplopen tot wel 70% in vergelijking met normale verlichting, waardoor de investering snel is terugverdiend! Led-verlichting kan daarnaast ook een bijdrage leveren aan uw energielabel.</p>
        </div>
    </div>

    <hr/>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <img src="/img/illustrations/lange_levensduur.svg" alt="Lange levensduur"/>
            <h3>Lange levensduur</h3>
            <p>Led-verlichting heeft een langere levensduur dan conventionele verlichting zoals TL buizen. Dit zorgt voor een extra besparing in onderhoudskosten.</p>
        </div>
        <div class="col-12 col-md-6">
            <img src="/img/illustrations/betere_lichtkwaliteit.svg" alt="Betere kwaliteit licht"/>
            <h3>Betere kwaliteit licht</h3>
            <p>Door dat de Led-verlichting niet trilt is het rustiger voor de ogen. Dit voorkomt vermoeidheid en verhoogt de productiviteit!</p>
        </div>
    </div>
</div>

<GetAQuote @cta="Offerte aanvragen"/>